<h1>Listing ads</h1>

<table>
  <thead>
    <tr>
      <th>Magazine</th>
      <th>Vendor</th>
      <th>Copy</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ads.each do |ad| %>
      <tr>
        <td><%= ad.magazine_id %></td>
        <td><%= ad.vendor %></td>
        <td><%= ad.copy %></td>
        <td><%= link_to 'Show', magazine_ad_path(@magazine, ad) %></td>
        <td><%= link_to 'Edit', edit_magazine_ad_path(@magazine, ad) %></td>
        <td><%= link_to 'Destroy', magazine_ad_path(@magazine, ad), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ad', new_magazine_ad_path(@magazine) %>
